* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: #FFF;
}

body {
  background-color: #025098;
  margin: auto;
  max-width: 100vh;
  max-height: 100vh;
  border-radius: 2px;
}