* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: #FFF;
}

body {
  background-color: #d39417;
  margin: auto;
  max-width: 960px;
  max-height: 100%;
  border-radius: 2px;
}

main{
  margin: auto;
  height: 100px;
}

.game{
  border: 2px solid red;
}

.card{
  border
}

.back, .front{
  width: 100px;
}