* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: #FFF;
}

body {
  background-color: #d39417;
  margin: auto;
  max-width: 100vh;
  max-height: 100%;
  border-radius: 2px;
}

main{
  margin: auto;
  height: 1080px;
}